<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newsleep="{{devoured}}">
        {{#if devoured}}that was yummy!{{else}}looks sooo good...!{{/if}}
    </button>
</li>